<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="d-flex justify-content-end mt-3">
    <button (click)="logout()" class="btn btn-danger">Cerrar Sesión</button>
  </div>
<div class="container">
    
  
    <p class="lead">Bienvenido a la aplicación de gestion de tareas.</p>
  
  

    <div class="form-outline">
      <label class="form-label" for="nombre">Tarea:</label>
      <input type="text" id="nombre" class="form-control form-control-lg" [(ngModel)]="tarea.nombre"/>
      
    </div>
    
    <div class="form-outline">
      <label class="form-label" for="estatus">Estatus:</label>
      <input type="text" id="estatus" class="form-control" [(ngModel)]="tarea.estatus"/>
      
    </div>
    
    <div class="form-outline">
      <label class="form-label" for="date">Fecha Finalización:</label>
      <input type="date" id="formControlSm" class="form-control form-control-sm" [(ngModel)]="tarea.date"/>
      
    </div> <br>
    <button class="btn btn-info" (click)="addTarea()"> Operacion</button><i class="fas fa-arrow-right"></i>
    
    {{ editando ? 'Actualizar' : 'Registrar' }} 
    <br>
    <div *ngFor="let tarea of tareas"><br>
      <p>{{ tarea.nombre }} ({{ tarea.estatus }}) - {{ tarea.date | date: 'dd/MM/yyyy' }}</p>
    
    <button class="btn btn-info" (click)="editarTarea(tarea)"> Editar</button>
    <button class="btn btn-warning" (click)="borrarTarea(tarea)"> Borrar</button> 
    
  </div>

  
  <br>
  <button class="btn btn-info" (click)="iniciarCamara()">Iniciar Cámara</button>
   <br> <br>
  <video #videoElement autoplay></video>


  
</div>
  
  

  
  